/* Site Header
---------------------------------------------- */

.site-header {
	padding: 0 5%;
	position: relative;
	background-color: $site-header--background-color;

	@media only screen and (min-width: $standard-screen-width) {

	}
}
.menu-item.instagram-icon {
	
	 a{
		padding:0 !important;
		width: 4rem;
		height:4.5rem;
		overflow:hidden;
		display: block;
		text-decoration:none;
		//position: absolute;
		//right:0;
		//top:0;
		@media only screen and (min-width: $standard-screen-width) {
			position:static;
		}
		&:before {
			content: "\f12d";
			font-family: dashicons;
			display: block;
			width: 4rem;
			height:4.5rem;
			font-size: 4rem;
		}	
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	
	padding-top: 25px;
	padding-bottom: 25px;
	@media only screen and (min-width: 420px) {
		float: left;
	}

	.wp-custom-logo & {
		width: 100%;
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;

		img {
			width: auto;
		}
	}
}

.site-title {
	font-size: $site-title--font-size;
	font-weight: $font-weight--semibold;
	line-height: $line-height--smaller;
	width:250px;
	height:119px;
	margin: 0 auto;
	@media only screen and (min-width: 1920px) {
		width:290px;
		height:138px;
	}
	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		text-decoration: none;
		background-image: url('assets/images/logo-2.png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		text-indent: -999em;
		display: block;
		width:250px;
		height:119px;
		@media only screen and (min-width: 1920px) {
			width:290px;
			height:138px;
		}
	}

	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		word-wrap: normal !important;
	}
}

.site-description {
	height:1px;
	width:1px;
	overflow:hidden;
	margin: 0;
}
